#javier { color: rgb(31, 30, 31);}
img { width: 120px;
}
#firstDiv {
 height: 150px;
 width: 150px;
background-color: rgb(255, 136, 0);
padding:50px;
border: 10px solid rgb(90, 57, 49);
}
#span1Id { font-size: 18px;
    margin: 50px;
    color: rgb(72, 72, 134)
}
#titleId {
    color :chocolate;
}
# {
    
} 